/*
 * Reset
 */
 body, section, div, p {
    margin: 0;
    padding: 0;
    text-align: left;
 }

/*
 * Page
 */
div {
    page-break-inside: avoid;
    page-break-after: auto;    
}

/*
 * All cards
 */
.card {
	width: 4.75cm;
	height: 4.75cm;
	margin: 0;
	padding: 0;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: left bottom;
	font-family: 'Helvetica Neue CE 75 Bold', Helvetica, Ubuntu, sans-serif;
    font-weight: bold;
    line-height: 130%;
    word-wrap: break-word;
    float: left;
}
.card div {
    padding-top: .3cm;
}
.card p {
    width: 4.1cm;
    height: 4.2cm;
    margin: auto;
    overflow: hidden;
}
.long {
    font-size: .95em;
}
.very-long {
    font-size: .85em;
}
.very-very-long {
    font-size: .80em;
}
.too-long {
    font-size: .7em;
}
.far-too-long {
    font-size: .6em;
} 

/*
 * Question cards
 */
.black .card {
	background-color: black;
	background-image: url('branding_on_black.png');
	border: 1px solid white;
}
.black p {
	background-color: inherit;
    color: white;
}

/*
 * Answer cards
 */
.white .card {
	background-color: white;
	background-image: url('branding_on_white.png');
	border: 1px solid silver;
}
.white p {
	background-color: inherit;
    color: black;
}